
.container {
    max-width: 1000px;
    margin: auto;

    .logo {
        .flexbox(column, center);
        margin-bottom: 5%;

        h1 {
            font-size: 12.8rem;
            vertical-align: middle;
            font-family: 'Varela Round', sans-serif;
            color: @timberwolf;
            align-self: center;

            @media @phone {
                font-size: 10rem;
                margin-top: 10%;
                margin-bottom: 10%;
            }
        }

        h2 {
            align-self: center;
            font-size: 6rem;
            margin-top: 2%;
        }
        
    }

    
    .center{
        .flexbox(row, center);
        margin: 5%;
    }
    .button {
        .big-btn(@maxyellow, @darkgreen);
        font-family: @round;
        text-decoration: none;
        text-align: center;
    }

    




    .right-content {
        .flexbox(row, space-between);
        margin-bottom: 5%;

        @media @phone {
            .flexbox(column, space-between)
        }
    
        .content-img {
            width: 35%;
            border-radius: 10px;

            @media @phone {
                width: 90%;
                margin: 5%;
            }
        }

        .opening {
            font-size: 2.8rem;
            margin-top: 4%;
        }

        .content {
            padding: 2%;

            @media @phone {
                margin: 5%;
            }
        }
        .name {
            font-size: 5rem;
        }
        .title {
            font-size: 3.5rem;
            margin-bottom: 5%;
        }

        .about {
            font-size: 2.4rem;
        }
    }

    .left-content {
        .flexbox(row-reverse, space-between);
        margin-bottom: 5%;

        @media @phone {
            .flexbox(column, space-between)
        }

        .content-img {
            width: 35%;
            border-radius: 10px;

            @media @phone {
                width: 90%;
                margin: 5%;
            }
        }
        .content {
            padding: 2%;
            
            @media @phone {
                margin: 5%;
            }
        }

        .name {
            font-size: 5rem;
        }

        .title {
            font-size: 3.5rem;
        }

        .about {
            font-size: 2.4rem;
        }
    }

}